$blue: hsl(197, 100%, 20%);

footer {
    background: change-color($blue, $lightness: 30%);
    bottom: 0;
    font-size: 0.8rem;
    left: 0;
    line-height: 1.4;
    padding: 14px;
    position: absolute;
    right: 0;
    width: 100%;
  }